In [1]:
from IPython.display import display
import pandas as pd
import csv
import random
import re
# import pyperclip
import numpy as np
import seaborn as sns
import requests
import matplotlib, matplotlib.pyplot as plt
import pprint
import os
import dateutil
import datetime

In [2]:
pd.options.display.max_rows = 10
sns.set()
matplotlib.rcParams['font.sans-serif'] = ['Arial Unicode MS', 'sans-serif']

In [3]:
%matplotlib notebook

In [4]:
df = pd.read_excel('赛题1数据材料/赛题1数据集/商标.xlsx', index_col='企业编号')
df

        商标状态        申请日期  专用权期限开始日期   专用权期限结束日期              商标使用期限时间段
企业编号
1001    评审分案  2015-12-28        NaN         NaN                      至
1001      注册  2016-07-28        NaN         NaN                      至
1001  商标变更完成  2005-07-25        NaN  2019-02-27  2009-02-28至2019-02-27
1001  商标变更完成  2007-01-18        NaN  2020-05-13  2010-05-14至2020-05-13
1001   商标已注册  2012-06-11        NaN  2023-12-06  2013-12-07至2023-12-06
...      ...         ...        ...         ...                    ...
4000   商标已注册  2011-05-23        NaN  2022-07-06  2012-07-07至2022-07-06
4000   商标已注册  2012-02-17        NaN  2024-03-13  2014-03-14至2024-03-13
4000  商标续展完成  2003-04-10        NaN  2024-11-13  2014-11-14至2024-11-13
4000   商标已注册  2006-08-02        NaN  2019-11-20  2009-11-21至2019-11-20
4000      注册  2016-01-18        NaN  2027-02-27  2017-02-28至2027-02-27

[345417 rows x 5 columns]

In [5]:
count = pd.DataFrame(df.drop_duplicates().index.value_counts()).T
count = count.reindex(columns=list(range(1001, 4001))).fillna(0)
count.index = pd.Index(['商标_count'])
count

,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
商标_count,83,43,78,13,9,7,9,28,3,159,...,17,12,28,16,44,21,2,36,2,17

In [6]:
def to_day(cell):
    if not isinstance(cell, str):
        return cell
    return (dateutil.parser.parse(cell) - datetime.datetime(2019, 3, 5)).days


date_of_application = df[['申请日期']].applymap(to_day).groupby('企业编号').mean().T
date_of_application = date_of_application.reindex(columns=list(range(1001, 4001)))
date_of_application

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
申请日期,-1505.366812,-2403.518248,-4176.203593,-390.953704,-3949.0,-5011.8,-4371.230769,-7838.979167,-8092.0,-2010.469474,...,-2826.129032,-3101.454545,-2186.235955,-3747.405797,-2301.245902,-3097.598039,-3658.5,-2558.633136,-4062.0,-2505.955556

In [7]:
def to_day_for_period(cell):
    if not isinstance(cell, str):
        return cell
    try:
        return (lambda x: (dateutil.parser.parse(x[-1]) - dateutil.parser.parse(x[0])).days)(cell.split('至'))
    except:
        pass

In [8]:
trademark_life_period = df[['商标使用期限时间段']].applymap(to_day_for_period).groupby('企业编号').mean().T
trademark_life_period = trademark_life_period.reindex(columns=list(range(1001, 4001)))
trademark_life_period

企业编号,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,...,3991,3992,3993,3994,3995,3996,3997,3998,3999,4000
商标使用期限时间段,3651.155556,3651.746269,3651.559322,3652.0,3652.0,3651.3,3651.166667,3651.270833,3651.333333,3651.708108,...,3651.566667,3651.65,3651.130841,3651.5,3651.568807,3651.150538,3651.75,3651.169014,3651.333333,3651.439024

In [9]:
pd.concat([count, date_of_application, trademark_life_period]).index

Index(['商标_count', '申请日期', '商标使用期限时间段'], dtype='object')

In [10]:
pd.concat([count, date_of_application, trademark_life_period]).to_pickle('商标.pickle')